* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
:root {
  --pink: hsl(322, 100%, 66%);
  --white: #ffffff;
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
}
/* HEADER SECTION CSS START FROM HERE */
.header {
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo a {
  display: inline-block;
  width: 150px;
}
.header .logo a img {
  width: 100%;
}
.header .try-it a {
  padding: 10px 50px;
  border-radius: 40px;
  border: 1px solid var(--lightPink);
  font-size: 16px;
  text-transform: capitalize;
  color: var(--lightPink);
}
/* HEADER SECTION CSS END HERE */
